<!-- Button trigger modal -->
<div class="" data-toggle="modal" data-target="#editPurchaser">
  Edit Purchaser
</div>

<!-- Modal -->
<div class="modal fade" id="editPurchaser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Purchaser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <%#= render 'form', purchaser: @purchaser %> -->


        <div class="p-4 border-gray-100 text-center">
          <div class="display-4" style="font-size:100%;">


            <%#= form_with(model: [ current_user, current_user.purchasers.build ]) do |form| %>
            <%= form_with(model: @purchaser, local: true) do |form| %>

              <% if @purchaser.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@purchaser.errors.count, "error") %> prohibited this @purchaser from being saved:</h2>

                  <ul>
                    <% @purchaser.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="display-4" style="font-size:300%;">
                <!-- <%= form.label :name %> -->
                Edit Purchaser
                <div class="pt-4 pb-2"> <%= form.text_field :name, value: @purchaser.name, class:"form-control" %>
                </div>
              </div>

              <!-- <div class="actions">
                <%= form.submit %>
              </div> -->

              <br>

              <div class="actions btn btn-success">
              <%= button_tag(type: 'submit') do %>
               Update Purchaser
              <% end %>
              </div>


            <% end %>

          </div>
        </div>














      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
