<style>

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>

<div class="display-4" style="font-size:100%;">

  <div class="container">
    <!-- <div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200"> -->
    <div class="text-center p-4 border-r-2 border-b-2 border-l-4 border-gray-200">
      <%= render "orders/download_modal"%>
      <br>
      <div class="display-1 -mt-8" style="font-size:300%;">
        <br>
        All Purchasers
        <!-- <span class="display-1" style="font-size:40%;">Purchasers (Index v1) </span> -->
        <br>
        <% if @purchasers.count > 0 %>
          <span class="display-1" style="font-size:50%;">
            <%= @purchasers.count %> Purchasers
          </span>
        <% end %>
      </div>
    </div>
    <br>
    <!-- <%= link_to 'Add Purchaser', new_user_purchaser_path(current_user), class:"btn btn-success btn-block" %> -->
    <%= render "form_modal"%>
  </div>


  <div class="container pt-4">
  <div class="bg-gray-100 text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">

  <!-- component -->
  <div class="flex items-center justify-center">

  	<div class="container">
      <table class="w-full flex flex-row flex-no-wrap sm:bg-white overflow-hidden sm:shadow-lg ">
  			<tbody class="flex-1 sm:flex-none">

          <div class="  rounded-t-2xl ">
            <div class=" flex flex-col flex-no wrap w-full">
              <br>
              <div class="bg-teal-300 p-3 " >
                <span style="font-size:200%;">
                  All Purchasers
                </span>
              </div>
            </div>
          </div>
          <% if @purchasers.count > 0 %>

              <% @purchasers.each do |purchaser| %>

          				<tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 bg-gray-100 border-2 border-grey-400 mb-4">

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                      <strong>Purchaser:</strong>
                       <%= link_to " #{purchaser.name}", purchaser %>
                    </td>

                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                       <%= link_to "Add Order", new_purchaser_order_path(purchaser.id) %>
                    </td>


                    <td class="border-grey-light border hover:bg-gray-100 p-3">
                      <strong>Orders:</strong>
                       <%= link_to " #{purchaser.orders.count}", purchaser %>
                    </td>

          					<td class=" text-center border-grey-light border p-2">
                      <%= link_to '', purchaser, method: :delete, data: { confirm: 'Are you sure? Once deleted you will never be able to recover this data.' }, class:"text-red-400 hover:text-red-600 hover:font-lg cursor-pointer fa fa-trash" %>
                      <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
                      <!-- <i class="fa fa-trash text-red-400 " aria-hidden="true">
                        <%= link_to '', purchaser, method: :delete, data: { confirm: 'Are you sure? Once deleted you will never be able to recover this data.' }, class:"text-red-400 hover:text-red-600 hover:font-medium cursor-pointer" %>
                      </i> -->
                    </td>

          				</tr>

              <% end %>

          <% else %>

          <tr class="flex flex-col flex-no wrap sm:table-row mb-2 sm:mb-0 bg-gray-100 ">
            <h5 class="bg-red-200 p-4 text-center">No Purchasers Available.</h5>
          </tr>

          <% end %>

  			</tbody>
  		</table>
      <!-- <div class="p-2">
        <%#= will_paginate @purchasers, :class => 'p-2 text-center bg-blue-100' %>
      </div> -->
  	</div>
  </div>
</div>

</div>

<br>

</div>

</div>

<script type="text/javascript">


axios.get("/purchasers.json")
.then(response => {
  const purchasers = response.data;
  console.log(purchasers);
})
.catch(error => {
console.log(error);
});


// var requestUrl = "https://localhost:3000/purchasers.json"
//
// $.ajax({
//   url: requestUrl,
//   cache: false,
//   success: function(){
//     // $("#results").append(html);
//     console.log(data);
//   }
// });

</script>
