<div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
  <div class="display-1" style="font-size:300%;">
    Log in
  </div>
</div>

<br>

<div class="text-center p-4  border-t-2 border-r-2 border-b-2 border-l-4 border-gray-200">
  <div class="display-1" style="font-size:150%;">


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field px-10 py-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"bg-gray-200 form-control" %>
    </div>

    <br>

    <div class="field px-10 py-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class:"bg-gray-200 form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <br>

    <!-- <div class="actions">
      <%= f.submit "Log in" %>
    </div> -->

    <div class="actions btn btn-success btn-lg">
    <%= button_tag(type: 'submit') do %>
     Login
    <% end %>
    </div>

  <% end %>

  <br>
    <div class="display-1" style="font-size:80%;">
      <%= render "devise/shared/links" %>
    </div>

  </div>
</div>
